table{border-collapse: collapse;}
thead{
    background-color: var(--md);
    color:var(--lt);
}
td,th{
    text-align: center;
    padding: 5px 10px;
}
tbody tr{border-bottom: solid 1px;}
tbody tr td{opacity: 1;transition: 500ms ease;}
td svg{
    max-width: 50px;
    max-width: 50px;
    overflow: visible;
}
tfoot{
    background-color: var(--md);
    color:white;
    font-size: 22px;
}

td a:hover,td a:focus{color:white}

.price {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    flex-wrap: wrap;
}
.oldPrice {
    color: var(--acdr);
}
.newPrice {
    font-size: 20px;
}
.discount {
    background-color: var(--md);
    padding: 2px 5px;
    border-radius: 2px;
    color: var(--lt);
}

.qty{
    background-color: var(--md50);
    border-radius: 2px;
    font-size: 20px;
    padding:0;
    overflow: hidden;
    text-align: center;
    transition: ease 500ms;
    max-width: 50px;
    margin-left: 5px;
}
.qty:hover,.qty:focus{background-color: white;}

.remAdd:hover svg path,.remAdd:focus svg path,
.remAddAll:hover svg path,.remAddAll:focus svg path{stroke:white}

.removedTR td{opacity: 0.3 !important}

#cartUpdate{
    display: flex;
    justify-content: flex-end;
    gap:10px;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}
#btnRequest{font-size: 18px;}

#totalT{text-align:right}
@media screen and (max-width:600px){
    .thqty{min-width:65px;}
    .qty{max-width: 30px;}
}
