#intro,#conclusion{
    padding:20px;
}

.bottS{padding-bottom:30px !important;}
.compare{
    display: grid;
    grid-template-columns: repeat(2,50%);
    padding:0 10px;
    background-color:var(--md50)
}
.compare h1{
    grid-row: 1/2;
    grid-column: 1/3;
    place-self:center;
    font-size:30px;
    text-align:center;
    box-shadow:2px 2px var(--md),4px 4px var(--md);
    padding:5px 15px;
    margin:20px 10px 5px;
    border-radius:5px;
    background-color:var(--lt);
}

.compare div{
    background-color:var(--md);
    border-radius: 5px;
    margin:10px;
    overflow:hidden;
    color:white;
    max-width:500px;
}
.compare div p{
    margin: 10px 20px 20px;
    text-align:justify
}
.compare div h2{
    width: calc(100% - 20px);
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px 2px 0 0;
    margin: 5px 10px;
}
.bad{box-shadow:2px 2px var(--ac),4px 4px var(--ac);}
.good{box-shadow: 2px 2px var(--lt),4px 4px var(--lt);}
.bad h2{border-bottom:solid 2px var(--ac);}
.good h2{border-bottom:solid 2px var(--lt);}
.left{justify-self: end;}
.right{justify-self: start;}
@media screen and (max-width:600px){
    .compare{grid-template-columns: 100%;}
    .compare h1{grid-column: 1/2;}
}
