form{
    display: flex;
    flex-direction: column;
}
header{
    justify-content: flex-end;
}
#logoThick{
    margin:0 0 10px;
    padding:5px;
    width:280px;
}
.errMsg,.msg{margin:3px 0}
.pwdDiv{
    display: flex;
    align-items: center;
}
.pwdDiv input{
    border-radius: 2px 0 0 2px;
    height:33px;
    background-color: transparent;
    min-width:237px;
    color: white;
}
.eyePwd{
    padding: 0 5px;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
}

.tooltipPwd{
    position: absolute;
    left:calc(50% + 145px);
    font-size: 11px;
    color:var(--md);
    transition:500ms ease;
}

#RegBtn{
    height:32px;
    font-size: 14px;
}

#forgotPwd{
    color:var(--dr);
    text-align: center;
}
#forgotPwd:hover,#forgotPwd:focus{color:var(--ac)}

/* Mobile*/
@media screen and (max-width:900px){
    .tooltipPwd{display: none;}
}
