/* Side Navigation */
.secWNav{
    display: grid;
    grid-template-columns: minmax(auto,230px) auto;
    width:calc(100vw + 178px);
    margin-left: -195px;
    transition:ease 1s;
}
.secWNavMoved{
    margin-left: 170px !important;
}
.secWNav section{grid-column: 2/3;}
.secNavDiv{
    grid-column: 1/2;
    position: sticky;
    height: fit-content;
    top:70px;
    grid-row: auto;
    width:230px;
    display: flex;
    flex-direction: row-reverse;
}
#secNavBtn{
    fill:var(--ac);
    padding:0;
}
#secNavBtn svg path{
    transition:500ms ease;
}

.secNav{
    width:220px;
    color:var(--ac);
    display: flex;
    flex-direction: column;
}

.secNav a{
    line-height: 1.2em;
    margin: 5px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.secNav span{
    text-align: right;
    width:160px
}
.secNav a:hover,.secNav a:focus{color:white !important;}
.secNav a:hover svg,.secNav a:focus svg{fill:white !important;}

.secNav svg{
    margin: 0 10px;
    fill:var(--ac);
    transition: 500ms ease;
    width:8px;
    height:8px;
}
#linkToTop{
    border-bottom: solid 1px;
    padding-bottom: 5px;
}
#linkToTop svg{
    width:10px;
    height:10px;
}
.focusSecA{color:var(--lt) !important;}
.focusSecA svg{fill:var(--lt) !important;}
@media screen and (max-width: 600px){
    .secWNav {
        width: calc(100vw + 195px);
    }
}
