div {
    text-align: center;
}
#content button{
    max-width: 200px;
    justify-self: end;
}
#svgIn{
    padding:20px;
    border-radius: 2px;
    background-color: var(--md);
    color:var(--lt);
    max-width: calc(var(--vw) - 40px);
    overflow-x: auto;
    font-size: 12px;
    text-align: start;
}
#svgIn *{
    color:var(--lt) !important;
    background-color: var(--md) !important;
    text-align: start;
}
#preview{
    display: flex;
    flex: 1 1 50%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#preview div{
    padding: 5px;
}
.inputs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
}
input[type='radio']{
    display: none;
}
label{
    padding:5px;
    border-radius: 2px;
    border:solid var(--md) 2px;
    margin:5px;
    font-size: 14px;
    cursor: pointer;
}
input[type="radio"]:checked+label{
    border:solid var(--ac) 2px !important;
}